body, html { margin: 0; padding: 0; }

#board  {
	border: 1px solid;
	width: 1024px;
	height: 600px;
	margin: 50px auto;
	background: #efefef;
	overflow: hidden;
}

#board .widget {
	border: 2px solid;
	font-family: sans-serif;
	font-weight: normal;

	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	position: relative;
}

#board .widget h3 {
	margin: 72px auto;
	text-align: center;
}