<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Developer Conference 2014 - High Scalability</title>
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
</head>
<body>

	<div id="board">
		<div class="widget" style="top: 20px; left: 50px; background: #FFF784; width: 280px; height: 160px">
			<h3>Hello, I'm a Sticky Note</h3>
		</div>
	</div>

	<script type="text/javascript" src="/static/js/pusher.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore-min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/hammer.min.js"></script>
	<script type="text/javascript" src="/static/js/client.js"></script>
</body>
</html>