<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Developer Conference 2014 - High Scalability</title>
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
</head>
<body>

	<div id="board"></div>

	<input id="pusherKey" type="hidden" value="<%= pusherKey %>" />

	<script type="text/javascript" src="/static/js/pusher.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore-min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ajaxq-0.0.1.js"></script>
	<script type="text/javascript" src="/static/js/hammer.min.js"></script>
	<script type="text/javascript" src="/static/js/client.js"></script>
</body>
</html>